@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  display: none;
}

.border-line {
  width: 80px;
  height: 6px;
  background: #221711;
  position: relative;
  overflow: hidden;
}
.border-line::before {
  content: "\e648";
  color: white;
  position: absolute;
  left: 30%;
  top: 0px;
  overflow: hidden;
  transform: rotate(45deg);
  font-weight: 500;
  font-size: 12px;
  background: white;
  box-sizing: border-box;
}

.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #b6925c;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 17px #b6925c;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #b6925c;
  }
}
.swiper-wrapper {
  padding-bottom: 80px;
}

.swiper-pagination-bullet {
  height: 30px !important;
  width: 30px !important;
  background: url(../assets/svg/water.svg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: white;
}

.slant {
  overflow: hidden;
}

.slant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: white;
  z-index: -1;
  transform: skewY(-45deg);
}
